

<header> 
    <nav>
        <ul> 
            <h2><a href="/"><strong><li><i class="fa-solid fa-house"></i>Pagina Principal</li></strong></a></h2>
            <h2><a href="/criar"><strong><li><i class="fa-solid fa-pencil"></i>Criar novo Album</li></strong></a></h2>           
        </ul>
    </nav>
</header>