<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/0377980d01.js" crossorigin="anonymous"></script>
    <title>Criar</title>
</head>
<body >
    <%- include('./partials/header.ejs') %> 
    <main>
        <section id="form_criar">
            <form method="post" action="/criar">
                <input type="text" name="nome_album" required>
                <label for="nome_album">Nome do Album</label>

                <input type="text" name="ano" required>
                <label for="ano">Ano de Lançamento</label>

                <input type="text" name="gravadora" required>
                <label for="gravadora">Gravadora</label>

                <input type="url" name="imagem" id=""required>
                <label for="imagem">Link da imagem</label>

                <input type="text" name="iframe" required>
                <label for="iframe">Iframe</label> 
                <button id="butEnviar" type="submit"> Enviar </button onclick = "clicar()" >               
                
            </form>

        </section>
    </main>
    <%- include('./partials/footer.ejs') %> 
    <script>
        const click = window.document.getElementById('butEnviar')            
        addEventListener ('click'.clicar)
        
    </script>

    

</body>
</html>